html,
body,
main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 70%;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    /* padding: 2em; */
    background-color: #201C40;
    overflow: hidden;
}


/* app */

#app {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


/* Welcome and loading screen */

#loading {
    color: gray;
}


/* with thanks - https://alistapart.com/article/creating-intrinsic-ratios-for-video */

.videoWrapperLimmiter {
    max-width: 30em;
    margin: 1em auto 1em;
}

.videoWrapper {
    position: relative;
    padding-bottom: 0%;
    margin-top: 2em;
    transition: padding 1s;
    /* 16:9 
    padding-bottom:56.25%
    */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#imgWrapper {
    transition: all 1s;
    width: 100%;
    margin: auto;
}

#welcome {
    z-index: 1;
    overflow: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    background: white;
}

#welcome .logo {
    position: relative;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 10%;
    transition: all 1s;
}

#imgSection {
    background-color: #201C40;
}

#welcome .controlls {
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
    background-color: white;
    width: 100%;
    margin-bottom: 1em;
}

#welcome .title {
    width: 80vw;
    max-width: 30em;
    margin-top: 1em;
}

#welcome .buttons {
    position: relative;
    /* margin-top:3em; */
    display: block;
}

#enow {
    border-radius: 0.5em 0.5em 2em 0.5em;
    padding-right: 7em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 400;
    font-size: small;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6ec6d9+0,2c4a9a+51,714494+99 */
    background: #6ec6d9;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #6ec6d9 0%, #2c4a9a 51%, #714494 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #6ec6d9 0%, #2c4a9a 51%, #714494 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #6ec6d9 0%, #2c4a9a 51%, #714494 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6ec6d9', endColorstr='#714494', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#etoday {
    border-radius: 4em 0.5em 0.5em 0.5em;
    padding-left: 1.8em;
    margin-left: -0.3em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#714494+0,f7a754+100 */
    background: #714494;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #714494 0%, #f7a754 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #714494 0%, rgb(247, 209, 84) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #714494 0%, rgb(247, 209, 84) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#714494', endColorstr='#f7a754', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#alle {
    border-radius: 2em 0.5em 0.5em 0.5em;
    padding-right: 7em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 400;
    font-size: small;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7a754+0,d85297+100 */
    background: #f7a754;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #714494 0%, #d85297 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #714494 0%, #d85297 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #714494 0%, #d85297 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7a754', endColorstr='#d85297', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

@keyframes spin {
    0% {
        left: -25%;
        transform: rotate(0deg);
        width: 150%;
    }
    50% {
        transform: rotate(180deg);
        width: 100%;
        left: 0%;
    }
    100% {
        left: -25%;
        transform: rotate(360deg);
        width: 150%;
    }
}

@keyframes shrink {
    100% {
        left: 40%;
        width: 20%;
    }
}

#map,
#mapInfoBanner,
#fog {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: #201C40;
}

#map {
    background: #2B2564
}

#mapInfoBanner {
    z-index: 1100;
}

#mapInfoBannerWrapper {
    position: absolute;
    top: 4em;
    left: 3em;
    right: 3em;
    background-color: white;
    object-position: center;
    width: 80%;
    border-radius: 2em;
    color: #4E4D4D;
    padding-left: 2em;
    font-weight: 400;
    padding-right: 0.5em;
    margin-left: -1em;
    text-transform: none;
}

.bannerTitle {
    background-color: #f7a754;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7a754+0,48357a+69,d85297+100 */
    background: #f7a754;
    /* Old browsers */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c2975+1,5f4cdb+51,d85297+100 */
    background: #3c2975;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #201C40 1%, #5f4cdb 51%, #d85297 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #201C40 1%, #5f4cdb 51%, #d85297 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #201C40 1%, #5f4cdb 51%, #d85297 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3c2975', endColorstr='#d85297', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    box-shadow: 0.2em 0.2em 0.2em 0.04em rgba(70, 0, 56, 0.2);
    padding-top: 1em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    padding-left: 2em;
    padding-bottom: 0.1em;
    margin-left: -2em;
    margin-right: -0.5em;
    color: white;
    padding-right: 0.8em;
    font-size: 100%;
    font-weight: 300;
}

.bannerTitle h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: small;
}

#not_in_area {
    display: none;
}

.not_in_area #not_in_area {
    display: block;
}

.not_in_area #map_intro_text {
    display: none;
}

#fog {
    z-index: -1;
    background: rgba(50, 50, 50, 1);
}


/* RHS menu */

nav#menuBar {
    z-index: 1500;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    border-bottom-left-radius: 3em;
    background-color: #ffffff;
    ;
    box-shadow: 0.2em 0.2em 0.2em 0.04em rgba(70, 0, 56, 0.3);
}

nav#menuBar.collapsed {
    background: none;
}

ul.links li hr {
    height: 0.5em;
    border: none;
    background-color: #f7a754;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f7a754 0%, #d85297 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f7a754 0%, #d85297 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f7a754 0%, #d85297 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7a754', endColorstr='#d85297', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    ;
    box-shadow: 0.1em 0.1em 0.1em 0.03em rgba(70, 0, 56, 0.5);
}

ul.links li h3 {
    padding: 0.5em 1em;
    margin: 0;
    padding-right: 3em;
    padding-left: 2em;
    padding-bottom: 1em;
    font-weight: 400;
}

#menuBar .hamburger {
    border: none;
    margin: 0.8em 0.6em 0.2em 0.6em;
    padding: 0;
    font-size: 110%;
    font-weight: 300;
    background: none;
    color: white;
    width: 2.3em;
}

#menuBar ul {
    display: block;
    background: #FFFFFF;
    z-index: 1500;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #575756;
    text-transform: uppercase;
    font-weight: 800;
    list-style-type: none;
    border-bottom-left-radius: 3em;
    text-align: left;
}

#menuBar ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menuBar li {
    padding: 1em;
    background-color: white;
    border-block-end-width: 40%;
    box-shadow: 0.2em 0.2em 0.2em 0.04em rgba(70, 0, 56, 0.3);
}


/*
Buttons
*/

button.button {
    display: inline-block;
    border: none;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    width: 25vw;
    color: #ffffff;
    padding: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    line-height: 1.1em;
    font-size: 1.3em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    padding-left: 1.4em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 2em;
}

button.button:focus {
    border-radius: 40px;
}

.leaflet-popup {
    margin: 0;
    padding: 0;
}

.leaflet-popup-content-wrapper {
    margin: 2em;
    padding: 0;
}

.leaflet-popup-content {
    margin: 0;
    padding-left: 0;
}

.leaflet-popup h3 {
    background-color: #f7a754;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f7a754 0%, #d85297 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f7a754 0%, #d85297 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f7a754 0%, #d85297 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7a754', endColorstr='#d85297', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    ;
    box-shadow: 0.1em 0.1em 0.1em 0.03em rgba(70, 0, 56, 0.5);
    border-radius: 0.5em 0.5em 0em 0em;
    line-height: 1.2em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.8em;
}

.leaflet-popup h3 a {
    color: white;
    text-decoration: none;
    line-height: 30%;
    font-weight: 400;
    font-size: small;
}

.leaflet-popup-tip-container {
    margin-top: -2em;
}

.leaflet-popup img {
    margin: 2%;
    width: 96%;
}

.leaflet-popup-content p,
.leaflet-popup-content li {
    margin: 0 0;
    text-transform: none;
    color: gray;
}

.leaflet-popup-content p {
    padding: 0 1em 1em 1.5em;
}


/* 
.leaflet-popup img {
    max-width: 10em;
} */


/* achivements */


/* achivemetns */

#achivements h2 {
    font-weight: 400;
}

#achivements {
    color: white;
    background-color: #201C40;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    text-align: center;
    padding-top: 4em;
}

#backtomap {
    width: 3em;
}

.achievement {
    color: gray;
    width: 12em;
    margin: 1em;
    display: inline-block;
    position: relative;
    font-weight: 400;
}

.achievement .wrapper {
    overflow: hidden;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 0.1em 0.03em rgba(70, 0, 56, 0.3);
    padding-top: 1.5em;
}

.achievement img.done {
    display: none;
}

.achievement.got img.done {
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    right: -1em;
    top: -1em;
    z-index: 1;
    margin-top: 2em;
}

.achievement.mystry .achievement p,
.achievement h3 {
    padding: 0.2em;
}

.acheivement h2 {
    font-weight: 400;
    color: white;
    font-size: small;
}

.achievement .img {
    display: block;
    width: 4em;
    height: 4em;
    padding-top: 2em;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
}

.achievement a {
    color: gray;
    text-decoration: none;
}

.achievement hr {
    margin: 0;
    border: none;
    padding: 0;
    height: 0.6em;
    background-color: #f7a754;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f7a754 0%, #d85297 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f7a754 0%, #d85297 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f7a754 0%, #d85297 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7a754', endColorstr='#d85297', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.achievement .found {
    display: none;
}

.achievement .notfound {
    display: block;
}

.achievement.got .found {
    display: block;
    font-weight: 400;
    font-size: small;
}

.achievement.got .notfound {
    display: none;
}

#achivements .buttons {
    position: absolute;
    top: 1em;
    left: 1em;
}

#achivements .buttons button {
    margin: 0;
    margin-top: 0;
    border-radius: 0.5em 4em 0.5em 0.5em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7a754+0,d85297+100 */
    background: #f7a754;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f7a754 0%, #d85297 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f7a754 0%, #d85297 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f7a754 0%, #d85297 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7a754', endColorstr='#d85297', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#other_achievements .achievement.got .img {
    width: 6em;
}